<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/shared.css'%}">

     <meta charset="utf-8"/>
     <title>Bio</title>
  <style> 
   
     div {
  margin-top: 75px;
  margin-bottom: 75px;
  margin-right: 125px;
  margin-left: 65px;
}
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity ="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
   crossorigin="anonymous">



     </head>
  <body class="bg-dark text-white">

  	<h1 id= "main">Bio</h1>
  	 	<ul>
      <li><a href="{% url 'tips'%}">Tips</a></li>
      <li><a href="{% url 'index'%}">Blog</a></li>
    </ul>

  	<img src="{% static "blog/images/sheep.jpg" %}" alt="sheep"/>

  	<div>
  		hey,
  		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan ultricies leo sed efficitur. Aenean ac tincidunt augue. Vestibulum ut est posuere elit finibus elementum. Fusce venenatis eget dui nec sollicitudin. Donec tortor eros, elementum id nulla eu, fringilla pretium nisl. Donec ut felis ac velit tincidunt egestas. Nam a quam vel leo consequat condimentum id eget magna. Aenean congue arcu nunc, et pharetra arcu tempus vitae.
  	</div>

  <img src="{% static "blog/images/hockey.png" %}" alt="hockey"/>  	<div> Hockey </div>

  	<img src="{% static "blog/images/sky.jpg" %}" alt="sky"/>  	<div>Snow Boarding</div>


  	<img src="{% static "blog/images/board.jpg" %}" alt="board"/>
  	<div>Skydiving</div>

<p>

 {{now}}
 
</p>




  </body>
</html>